<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Embedded"/>

<f:section name="content">

    <div class="h5p-iframe-wrapper">
        <iframe id="h5p-iframe-{content.uid}"
                class="h5p-iframe"
                data-content-id="{content.uid}"
                style="height:1px"
                scrolling="no"
                frameborder="0"
                src="about:blank">
        </iframe>
    </div>

</f:section>
</html>
